html {
background-color: hsl(206, 80%, 96%);
font-family:Barlow Semi Condensed, sans-serif;
}
img, img .profile {
    width: 50px;
    border-radius: 50%;
}
body {
padding:20px;
}

.container { 
/*margin: auto;
display: flex;
      align-items: center;
text-align: center;*/
display: grid;
  /*grid-template-columns: auto auto auto;*/
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}
.container div {
  padding: 10px;
  font-size: 30px;
  text-align: center; }
.dan {
   grid-column: span 2;
/*background-image: url(images/bg-pattern-quotation.svg);
background-repeat: no-repeat;*/
background-color: hsl(263, 55%, 52%);
color:white;
border-radius: 10px;



}



.quote
{
    float: right;
}
.john {
background-color: hsl(224, 10%, 45%);
color: white;
/*border-radius: 10px;
max-width: 40px;*/
}

.jean {
background-color: white;
border-radius: 10px;

}

.pat {

background-color: hsl(217, 19%, 35%);
color: white;
border-radius: 10px;
grid-column: span 2;

}

.kira { 
background-color: white;
border-radius: 10px;
grid-column: 4 / 5;
grid-row: 1 / span 2;

}
.flex {
   overflow: hidden;
}

.profile {
  
  border-radius: 50%;
  display: flex;
}