html {
background-color: hsl(206, 80%, 96%);
font-family:Barlow Semi Condensed, sans-serif;
max-width: 100%;
max-height: 100%;

}
img, .profile {
    width: 50px;
    border-radius: 50%;
}
body {
padding:20px;
 margin: 0;
    width: 100%;
    height: 100%;

}

.container { 
/*margin: auto;
display: flex;
      align-items: center;
text-align: center;*/
display: grid;
  padding: 10px;
  /*max-width: 100%;*/
  margin: auto;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,auto);
  gap: 20px;

  align-items: center;
}
.container div {
  /*padding: 10px;
  font-size: 30px;
  text-align: center; */ 
}
.dan {
   grid-column: span 2;
/*background-image: url(images/bg-pattern-quotation.svg);
background-repeat: no-repeat;*/
background-color: hsl(263, 55%, 52%);
color:white;
border-radius: 10px;
padding: 20px;


}



.quote
{
    float: right;
}
.john {
background-color: hsl(224, 10%, 45%);
color: white;
padding: 20px;
border-radius: 10px;
margin: 10px;


/*border-radius: 10px;
max-width: 40px;*/
}

.jean {
background-color: white;
border-radius: 10px;
padding: 20px;
margin: 10px;


}

.pat {

background-color: hsl(217, 19%, 35%);
color: white;
border-radius: 10px;
grid-column: span 2;
padding: 20px;
margin: 10px;

}

.kira { 
background-color: white;
border-radius: 10px;
/*grid-column: 4 / 5;
grid-row: 1 / span 2;*/
padding: 20px;
margin: 10px; 
grid-row: span 2;

}
/*align-items: stretch;
height: fit-content;
display: flex; }


}


.kirapfp { 
    height: 30px;
}
.flex {
   overflow: hidden;
}

.profile {
  
  border-radius: 50%;
  display: flex;
}
.grid-item {
    padding: 30px;
}