html {
background-color: hsl(206, 80%, 96%);
font-family:Barlow Semi Condensed;
}

body {

}

.container { 
margin: auto;
}

.dan {
    display: block;
/*background-image: url(images/bg-pattern-quotation.svg);
background-repeat: no-repeat;*/
background-color: hsl(263, 55%, 52%);
color:white;
}
.quote
{
    float: right;
}
.john {
    display: block;
background-color: hsl(224, 10%, 45%);
color: white;
}

.jean {
    display: block;
background-color: white;
}

.pat {
    display: block;
background-color: hsl(217, 19%, 35%);
color: white;
}

.kira { 
    display: block;
background-color: white;
}
